.App {
  margin-top: -20px;
  text-align: center;
  justify-content: center;
  justify-items: center;
  background-image: url("./assets/home-background.jpg");
  background-size: cover;
  align-content: center;
  align-items: center;
}

.App-logo {
  width: 100%;
  height: auto;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.TomJonesLogo {
  margin-top: -20px;
  margin-bottom: 20px;
  height: 50px;
}


.menuDoubleImage {
  margin-top: 10px;
  margin-bottom: 30px;
  height: 55px;
}

.menuDoubleImageApostoles {
  margin-top: 10px;
  margin-bottom: 15px;
  height: 55px;
}

.menuDoubleImageHeineken {
  margin-bottom: 25px;
  height: 35px;
}

.menuDoubleImageBranca {

  height: 80px;
}





.menuButton {
  width: 40%;
  margin: 7.5%;
  font-family: "Gotham", serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
  border-radius: 15px;
  background-color: #727271;
  text-decoration-line: none;
  padding: 10px 0;

}
