
.Menu {
    width: 100%;
    background-size: cover;
}

.SinAlcohol {
    background-image: url("./assets/sinalcohol.webp");
    background-size: 100% 100%;
    min-height: 100vh;
}

.Botellas {
    background-image: url("./assets/botellas.webp");
    background-size: 100% 100%;
    min-height: 100vh;
}


